<% id = params["id"] %>
<% @one = Archive.where("id=?",id)
@one = @one.first 

%>
<div class="container">

  <h4> Edit an Archive</h4> 
 
  <%= form_tag(editsave_archives_path, :enctype =>"multipart/form-data") do %>

  <div class="card" style="width: 45rem; padding-left: 10px;">
    <p>  ID: <%=@one.id %> | Old ID: <%= @one.old_id %> </p>
  <p>Filename: <br><input name="fname" value="<%= @one.fname %>" size=50></p>  
    <p>Path:<br><input name="path" type="text" value="<%=@one.path%>"></p>
  
  <p>Title: <textarea name="title" row="3" cols="80"><%= @one.caption %></textarea></p>
  </div>
   <div class="card" style="width: 45rem; padding-left: 10px;">
    <p> Status: <%= check_box_tag 'pic_status', true, @one.pic_status %> </p>
    <p> Cover Page: <%= check_box_tag 'cover_page', true, @one.cover_page %> </p>
    
  </div>
 
  <div class="card" style="width: 45rem; padding-left: 10px;">
    <p>Year:<br><input name="pyear" type="text" value="<%=@one.pyear%>"></p>
  </div>

  <div class="card" style="width: 45rem; padding-left: 10px;">
    <p>Date:<br><input name="pdate" type="text" value="<%=@one.pdate%>"></p>
  </div>
   <div class="card" style="width: 45rem; padding-left: 10px;">
    <p>Cost:<br><input name="pcost" type="text" value="<%=@one.cost%>"></p>
  </div>
  <div class="card" style="width: 45rem; padding-left: 10px;">
    <p>Price:<br><input name="pprice" type="text" value="<%=@one.price%>"></p>
  </div>
 
  <div class="card" style="width: 45rem; padding-left: 10px;">
  <p>County: <%= @one.county %> <br>
   
   <%= select_tag :county1 , options_from_collection_for_select(@acounty, "name", "name", @one.county1), :include_blank => true   %>
   <%= select_tag :county2 , options_from_collection_for_select(@acounty, "name", "name", @one.county2), :include_blank => true   %>
   <%= select_tag :county3 , options_from_collection_for_select(@acounty, "name", "name", @one.county3), :include_blank => true   %>
   <%= select_tag :county4 , options_from_collection_for_select(@acounty, "name", "name", @one.county4), :include_blank => true   %>
    <%= select_tag :county5 , options_from_collection_for_select(@acounty, "name", "name", @one.county5), :include_blank => true   %>
   <%= select_tag :county6 , options_from_collection_for_select(@acounty, "name", "name", @one.county6), :include_blank => true   %>
   <%= select_tag :county7 , options_from_collection_for_select(@acounty, "name", "name", @one.county7), :include_blank => true   %>
   <%= select_tag :county8 , options_from_collection_for_select(@acounty, "name", "name", @one.county8), :include_blank => true   %>
    <%= select_tag :county9 , options_from_collection_for_select(@acounty, "name", "name", @one.county9), :include_blank => true   %>
   <%= select_tag :county10 , options_from_collection_for_select(@acounty, "name", "name", @one.county10), :include_blank => true   %>
   
 </p>
  </div>
  <div class="card" style="width: 45rem; padding-left: 10px;"> 
  
  <p>City: <%=@one.city %><br>

   <%= select_tag :city1 , options_from_collection_for_select(@acity, "name", "name", @one.city1), :include_blank => true   %>
   <%= select_tag :city2 , options_from_collection_for_select(@acity, "name", "name", @one.city2), :include_blank => true   %>
   <%= select_tag :city3 , options_from_collection_for_select(@acity, "name", "name", @one.city3), :include_blank => true   %>
   <%= select_tag :city4 , options_from_collection_for_select(@acity, "name", "name", @one.city4), :include_blank => true   %>
   <%= select_tag :city5 , options_from_collection_for_select(@acity, "name", "name", @one.city5), :include_blank => true   %>
   <%= select_tag :city6 , options_from_collection_for_select(@acity, "name", "name", @one.city6), :include_blank => true   %>
   <%= select_tag :city7 , options_from_collection_for_select(@acity, "name", "name", @one.city7), :include_blank => true   %>
   <%= select_tag :city8 , options_from_collection_for_select(@acity, "name", "name", @one.city8), :include_blank => true   %>
   <%= select_tag :city9 , options_from_collection_for_select(@acity, "name", "name", @one.city9), :include_blank => true   %>
   <%= select_tag :city10 , options_from_collection_for_select(@acity, "name", "name", @one.city10), :include_blank => true   %>
   <%= select_tag :city11 , options_from_collection_for_select(@acity, "name", "name", @one.city11), :include_blank => true   %>

  </p>
  </div>
  <div class="card" style="width: 45rem; padding-left: 10px;"> 
  <%
    @one.category = "" if @one.category.nil?
    @one.category1 = "" if @one.category1.nil?
    @one.category2 = "" if @one.category2.nil?
    @one.category3 = "" if @one.category3.nil?
    @one.category4 = "" if @one.category4.nil?
    @one.category5 = "" if @one.category5.nil?
    @one.category6 = "" if @one.category6.nil?
    @one.category7 = "" if @one.category7.nil?
    @one.category8 = "" if @one.category8.nil?
    @one.category9 = "" if @one.category9.nil?
    @one.category10 = "" if @one.category10.nil?
    @one.category11 = "" if @one.category11.nil?
    @one.category12 = "" if @one.category12.nil?
    @one.category13 = "" if @one.category13.nil?
    @one.category14 = "" if @one.category14.nil?
    @one.category15 = "" if @one.category15.nil?
    @one.category16 = "" if @one.category16.nil?
    @one.category17 = "" if @one.category17.nil?
    @one.category18 = "" if @one.category18.nil?
    @one.category19 = "" if @one.category19.nil?
    @one.category20 = "" if @one.category20.nil?
  %>
  <p>Category: <%=@one.category %><br>
  
   <%= select_tag :cat1 , options_from_collection_for_select(@acategory, "name", "name", @one.category1), :include_blank => true   %>
   <%= select_tag :cat2 , options_from_collection_for_select(@acategory, "name", "name", @one.category2), :include_blank => true   %>
    <%= select_tag :cat3 , options_from_collection_for_select(@acategory, "name", "name", @one.category3), :include_blank => true   %>
   <%= select_tag :cat4 , options_from_collection_for_select(@acategory, "name", "name", @one.category4), :include_blank => true   %>
    <%= select_tag :cat5 , options_from_collection_for_select(@acategory, "name", "name", @one.category5), :include_blank => true   %>
   <%= select_tag :cat6 , options_from_collection_for_select(@acategory, "name", "name", @one.category6), :include_blank => true   %>
    <%= select_tag :cat7 , options_from_collection_for_select(@acategory, "name", "name", @one.category7), :include_blank => true   %>
   <%= select_tag :cat8 , options_from_collection_for_select(@acategory, "name", "name", @one.category8), :include_blank => true   %>
    <%= select_tag :cat9 , options_from_collection_for_select(@acategory, "name", "name", @one.category9), :include_blank => true   %>
   <%= select_tag :cat10 , options_from_collection_for_select(@acategory, "name", "name", @one.category10), :include_blank => true   %>
    <%= select_tag :cat11 , options_from_collection_for_select(@acategory, "name", "name", @one.category11), :include_blank => true   %>
   <%= select_tag :cat12 , options_from_collection_for_select(@acategory, "name", "name", @one.category12), :include_blank => true   %>
    <%= select_tag :cat13 , options_from_collection_for_select(@acategory, "name", "name", @one.category13), :include_blank => true   %>
   <%= select_tag :cat14 , options_from_collection_for_select(@acategory, "name", "name", @one.category14), :include_blank => true   %>
    <%= select_tag :cat15 , options_from_collection_for_select(@acategory, "name", "name", @one.category15), :include_blank => true   %>
   <%= select_tag :cat16, options_from_collection_for_select(@acategory, "name", "name", @one.category16), :include_blank => true   %>
    <%= select_tag :cat17 , options_from_collection_for_select(@acategory, "name", "name", @one.category17), :include_blank => true   %>
   <%= select_tag :cat18 , options_from_collection_for_select(@acategory, "name", "name", @one.category18), :include_blank => true   %>
    <%= select_tag :cat19 , options_from_collection_for_select(@acategory, "name", "name", @one.category19), :include_blank => true   %>
   <%= select_tag :cat20 , options_from_collection_for_select(@acategory, "name", "name", @one.category20), :include_blank => true   %>
  </p>

  </div>
  
  <div class="form-group" style="padding-top: 20px">
    <div class="col-sm-offset-2 col-sm-10">
      <%= hidden_field_tag 'id',id %>
      <button type="submit" class="btn btn-primary">Update</button> 
      <%#<button type="Reset" class="btn btn-secondary">Reset Form</button> %>
    </div>
  </div>

  <% end %>
</div>