
<div class ="container">

    <p align=left> <%= link_to "Back to Search Results", search_archives_path(:back => 1, :page => $lastpage)  %>
     </p>   
    <% 
       id = @a.id
       if (id.nil?)
         $n = $archivelist.where("id > ?", id).first 
         $p = $archivelist.where("id < ?", id).last
       else
         $n = $p = nil
       end    
    %>
    <p align=right>   
    <%   if (!$p.nil?)
    %>
     <%= link_to "<< Prev", letter_archives_path(:id => id, :next=>0, :prev=>1)  %> 
    <% end %>
    <%   if (!$p.nil? && !$n.nil?) %>
     | 
    <% end %>
    <% if (!$n.nil?) %>
	 <%= link_to "Next >> ", letter_archives_path(:id => id, :next=>1, :prev=>0) %>
    <% end %>  
    </p>
	<p><%= @a.caption%> 
    <% access_level = check_current_access %>
    <% if (access_level==1) %>
              <p> <%= link_to "Edit", edit_archives_path(:id =>id)  %></p>
            <% end %> </p> 
	<% base_url = "https://ernie-tpics.s3.amazonaws.com/" 
  ppath = @a.path

  if (ppath.eql? "Tpics")
    ppath = "tpics"
  end 
    
	if (@a.fname.nil?)
    fname_url = "ernie.png"
   else 
    fname_url = base_url+ ppath + "/" + @a.fname 
   end  
	 %>
	<% url = image_url(fname_url)%>

	<p align="left">
    <div id="seadragon-viewer" style="width:1000px; height:600px;"></div>
  <%#= image_tag(url, style: 'height:60%;width:60%;') %>
    
  </p>
	<p><b>Year:</b> <%= @a.pyear %> <br>
        <b>Date:</b> <%= @a.pdate %> <br>

        <b>County:</b> 
    	   <% if ((!@a.county1.eql? "") && (!@a.county1.eql? nil)) %>
          <%= link_to @a.county1, search_archives_path(:county => @a.county1)  %>
        <%end%> 
        <% if ((!@a.county2.eql? "") && (!@a.county2.eql? nil)) %> 
          , <%= link_to @a.county2, search_archives_path(:county => @a.county2)  %> 
        <%end%>
        <% if ((!@a.county3.eql? "") && (!@a.county3.eql? nil)) %>
          , <%= link_to @a.county3, search_archives_path(:county => @a.county3)  %>
        <%end%> 
         <% if ((!@a.county4.eql? "") && (!@a.county4.eql? nil)) %>
          , <%= link_to @a.county4, search_archives_path(:county => @a.county4)  %>
        <%end%> 
        <% if ((!@a.county5.eql? "") && (!@a.county5.eql? nil)) %>
          , <%= link_to @a.county5, search_archives_path(:county => @a.county5)  %> 
        <%end%>
        <% if ((!@a.county6.eql? "") && (!@a.county6.eql? nil)) %>
          , <%= link_to @a.county6, search_archives_path(:county => @a.county6)  %>
        <%end%> 
         <% if ((!@a.county7.eql? "") && (!@a.county7.eql? nil)) %>
          , <%= link_to @a.county7, search_archives_path(:county => @a.county7)  %>
        <%end%> 
        <% if ((!@a.county8.eql? "") && (!@a.county8.eql? nil)) %>
          , <%= link_to @a.county8, search_archives_path(:county => @a.county8)  %> 
        <%end%>
        <% if ((!@a.county9.eql? "") && (!@a.county9.eql? nil)) %>
          , <%= link_to @a.county9, search_archives_path(:county => @a.county9)  %>  
        <%end%> 
        <% if ((!@a.county10.eql? "") && (!@a.county10.eql? nil)) %>
         , <%= link_to @a.county10, search_archives_path(:county => @a.county10)  %>  
        <%end%> 
    	 
    	  <br>
    	<b>City:</b> 
    	  
        <% if ((!@a.city1.eql? "") && (!@a.city1.eql? nil)) %>
         <%= link_to @a.city1, search_archives_path(:city => @a.city1)  %>  
        <%end%> 
        <% if ((!@a.city2.eql? "") && (!@a.city2.eql? nil)) %>
         , <%= link_to @a.city2, search_archives_path(:city => @a.city2)  %>  
        <%end%> 
        <% if ((!@a.city3.eql? "") && (!@a.city3.eql? nil)) %>
         , <%= link_to @a.city3, search_archives_path(:city => @a.city3)  %>  
        <%end%> 
    	  <% if ((!@a.city4.eql? "") && (!@a.city4.eql? nil)) %>
         , <%= link_to @a.city4, search_archives_path(:city => @a.city4)  %>  
        <%end%> 
        <% if ((!@a.city5.eql? "") && (!@a.city5.eql? nil)) %>
         , <%= link_to @a.city5, search_archives_path(:city => @a.city5)  %>  
        <%end%> 
        <% if ((!@a.city6.eql? "") && (!@a.city6.eql? nil)) %>
         , <%= link_to @a.city6, search_archives_path(:city => @a.city6)  %>  
        <%end%> 
        <% if ((!@a.city7.eql? "") && (!@a.city7.eql? nil)) %>
         , <%= link_to @a.city7, search_archives_path(:city => @a.city7)  %>  
        <%end%> 
        <% if ((!@a.city8.eql? "") && (!@a.city8.eql? nil)) %>
         , <%= link_to @a.city8, search_archives_path(:city => @a.city8)  %>  
        <%end%>
        <% if ((!@a.city9.eql? "") && (!@a.city9.eql? nil)) %>
         , <%= link_to @a.city9, search_archives_path(:city => @a.city9)  %>  
        <%end%>  
      
        <br>
    	<b>Category:</b> 
       
    	 <% if ((!@a.category1.eql? "") && (!@a.category1.eql? nil)) %>  <%= link_to @a.category1, search_archives_path(:category => @a.category1)  %> <%end%>
    	 <% if ((!@a.category2.eql? "") && (!@a.category2.eql? nil)) %>,  <%= link_to @a.category2, search_archives_path(:category => @a.category2)  %>  <%end%> 
    	   <% if ((!@a.category3.eql? "") && (!@a.category3.eql? nil)) %>, <%= link_to @a.category3, search_archives_path(:category => @a.category3)  %> <%end%> 
    	   <% if ((!@a.category4.eql? "") && (!@a.category4.eql? nil)) %>, <%= link_to @a.category4, search_archives_path(:category => @a.category4)  %> <%end%> 
    	   <% if ((!@a.category5.eql? "") && (!@a.category5.eql? nil)) %>, <%= link_to @a.category5, search_archives_path(:category => @a.category5)  %> <%end%> 
    	  <% if ((!@a.category6.eql? "") && (!@a.category6.eql? nil)) %>, <%= link_to @a.category6, search_archives_path(:category => @a.category6)  %> <%end%> 
    	  <% if ((!@a.category7.eql? "") && (!@a.category7.eql? nil)) %>, <%= link_to @a.category7, search_archives_path(:category => @a.category7)  %> <%end%> 
    	   <% if ((!@a.category8.eql? "") && (!@a.category8.eql? nil)) %>, <%= link_to @a.category8, search_archives_path(:category => @a.category8)  %> <%end%> 
    	  <% if ((!@a.category9.eql? "") && (!@a.category9.eql? nil)) %>, <%= link_to @a.category9, search_archives_path(:category => @a.category9)  %> <%end%> 
    	  <% if ((!@a.category10.eql? "") && (!@a.category10.eql? nil)) %>, <%= link_to @a.category10, search_archives_path(:category => @a.category10)  %> <%end%> 
    	  <% if ((!@a.category11.eql? "") && (!@a.category11.eql? nil)) %>, <%= link_to @a.category11, search_archives_path(:category => @a.category11)  %> <%end%> 
    	  <% if ((!@a.category12.eql? "") && (!@a.category12.eql? nil)) %>, <%= link_to @a.category12, search_archives_path(:category => @a.category12)  %> <%end%> 
    	   <% if ((!@a.category13.eql? "") && (!@a.category13.eql? nil)) %>, <%= link_to @a.category13, search_archives_path(:category => @a.category13)  %> <%end%> 
    	  <% if ((!@a.category14.eql? "") && (!@a.category14.eql? nil)) %>, <%= link_to @a.category14, search_archives_path(:category => @a.category14)  %> <%end%> 
    	  <% if ((!@a.category15.eql? "") && (!@a.category15.eql? nil)) %>, <%= link_to @a.category15, search_archives_path(:category => @a.category15)  %> <%end%> 
    	  <% if ((!@a.category16.eql? "") && (!@a.category16.eql? nil)) %>, <%= link_to @a.category16, search_archives_path(:category => @a.category16)  %> <%end%> 
    	  <% if ((!@a.category17.eql? "") && (!@a.category17.eql? nil)) %>, <%= link_to @a.category17, search_archives_path(:category => @a.category17)  %> <%end%> 
    	  <% if ((!@a.category18.eql? "") && (!@a.category18.eql? nil)) %>, <%= link_to @a.category18, search_archives_path(:category => @a.category18)  %> <%end%> 
    	   <% if ((!@a.category19.eql? "") && (!@a.category19.eql? nil)) %>, <%= link_to @a.category19, search_archives_path(:category => @a.category19)  %> <%end%> 
    	  <% if ((!@a.category20.eql? "") && (!@a.category20.eql? nil)) %>, <%= link_to @a.category20, search_archives_path(:category => @a.category20)  %> <%end%> 
    	  
    	  <br>
         <%
          associated = Archive.where("ptype=?",@a.old_id)
          associated_count = associated.count
          if (associated_count==0 && @a.ptype != nil && @a.ptype >0)
            associated = Archive.where("ptype=?",@a.ptype)
            associated_count = associated.count
          end 

        %>
       
    	  <%
          
          num = 1 
          %>
          <b>Associated Pages: </b><%=associated_count%> <br>
          <% associated.each do |assoc| %>

          <p><%=num%>. <%=assoc.caption %>  <%= link_to "Read More..", letter_archives_path(:id => assoc.id)  %></p>
          <% num= num+1 %>
        <%end%>
     </p>

</div>


<script src="//openseadragon.github.io/openseadragon/openseadragon.min.js"></script>

<script type="text/javascript">
var viewer = OpenSeadragon({
  id: "seadragon-viewer",
  prefixUrl: "//openseadragon.github.io/openseadragon/images/",
  showRotationControl: true,
  tileSources: {
        type: 'image',
        url:  '<%= fname_url %>'
    }
});
</script>

