<% city = params["city"] %>
<% access_level = check_current_access %>
<div class="container">
<p><strong>Towns with Manuscript Postal Markings</strong></p>

<p><strong>Town: <%= city %></strong> <%= link_to "Back to List of Towns" , manuscripts_archives_path%><% if (access_level==1) %><br>
       <%= link_to "Add New Manuscript", edit_manuscripts_archives_path(:id => 0)  %>
       <% end %>
 
<div class="row" style="background-color: #e3e3e3;">
	<div class="col">Owner</div>
	<div class="col">Cover/Stampless</div>
	<div class="col">STE</div>
	<div class="col">Town</div>
	<div class="col">M</div>
	<div class="col">Date</div>
	<div class="col">Year</div>
	<div class="col">Marking</div>
	<div class="col">County</div>
	<div class="col">EMI?</div>
	

</div>
<%
  m_list = Manuscript.where("town=?",city)
  m_list.each do |m|
  if (m.mnum.eql? "****")
  	j_str = "Public"
  else
  	j_str = "Private"
  end	
%>
    <div class="row">
	<div class="col">
	<% if (access_level==1) %>
       <%= link_to j_str, edit_manuscripts_archives_path(:id => m.id)  %>
    <% else %>
       <%= j_str %>
    <% end %> 
    </div>
	<div class="col"><%= m.c_or_s %></div>
	<div class="col"><%= m.ste %></div>
	<div class="col"><%= m.town %></div>
	<div class="col"><%= m.m %></div>
	<div class="col"><%= m.dd %></div>
	<div class="col"><%= m.yr %></div>
	<div class="col"><%= m.marking %></div>
	<div class="col"><%= m.county %></div>
	<div class="col"><% if ((m.emi==1)||(m.emi)) %>Yes<% else %>No<% end %>
	<% if ((m.emi==1)||(m.emi)) %><%= link_to "View",letter_archives_path(:old_id => m.new_id)%><%end%></div>
</div>
<%  	
  end	
%>
</div>